
@{
    ViewBag.Title = "Saveemp";
}

<h2>Saveemp</h2>

<h2>List Of Employees</h2>

<table border="1">

    <tr>
        <th>EmployeeId</th>
        <th>FirstName</th>
        <th>lastName</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Address</th>
        <th>MobileNumber</th>
        <th>DepartmentId</th>
        <th>ProfileImage</th>
    </tr>

    <tr>

        <td>@ViewBag.EmpId</td>
        <td>@ViewBag.FirstName</td>
        <td>@ViewBag.LastName</td>
        <td>@ViewBag.Email</td>
        <td>@ViewBag.Gender</td>
        <td>@ViewBag.Address</td>
        <td>@ViewBag.MobileNumber</td>
        <td>@ViewBag.DepartmentId</td>
        

    </tr>


</table>
